.NavBarContainer{
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 5000;
    background-color: #1f152c;
    border: transparent;
}

.NavigationBar{
    height: 3rem;
    color: #ffffff;
}

.NavBarBrand{
    max-width: 4rem;
    padding: 0px;
    margin: inherit;
}

.DropDownMenu{
    /* margin-top: 1rem !important; */
    width: max-content !important;
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 0.5rem;
    box-shadow: 0 10px 10px 0px #15003142;
}

.LinkMenu{
    color: #ffffff !important;
}

.LinkMenu:hover{
    color: #b3b3b3 !important;
}


.Logo{
    margin: 0;
}

.DropDownToggle{
    background-color: transparent;
    border-color: transparent;
    color: #ffffff;
    padding: 0;
    margin: 0;
    outline: 0;
    box-shadow: none;
}

.DropDownToggle:hover, .DropDownToggle::after, .DropDownToggle::before, .DropDownToggle:focus{
    background-color: transparent !important;
    border-color: transparent !important;
    color: transparent !important;
    cursor: pointer !important;
    outline: 0 !important;
    border: 0 !important;
    -webkit-user-select: none !important;
    box-shadow: none !important;
    transition: none !important;
    margin: 0 !important;
    padding: 0;
}

.DropDownItemText{
    background-color: transparent;
    border-color: transparent;
    color: #ffffff;
    padding: 0;
    outline: 0;
    box-shadow: none;
}

.DropDownItemText:hover{
    background-color: transparent !important;
    border-color: transparent !important;
    cursor: pointer !important;
    outline: 0 !important;
    border: 0 !important;
    -webkit-user-select: none !important;
    box-shadow: none !important;
    transition: none !important;
    color: #b9b8b8;
}

.btn-default:focus{
    outline: none;
    box-shadow: none;
}

.DropDownItem{
    color: #150031;
}

.DropDownItem:hover{
    background-color: transparent;
    color: #5509b8;
}

.DropDownIcon{
    margin-right: 0.7rem;
}

.NavbarToggle{
    background-color: transparent;
    border: transparent;

}

.NavbarToggle:focus {
    outline: none;
    box-shadow: none;
}

.Bars{
    color: #ffffff;
}

.Link, .DropDownText{
    color: #150031 !important;
}

.Link:hover, .DropDownText:hover{
    cursor: pointer;
    color: #5509b8 !important;
    border-color: transparent;
    background-color: transparent;
}

.TextItem{
    color: #2b0063
}

.DropDownDivider{
    margin-right: 1rem;
    margin-left: 1rem;
    border-top: 1px solid #a3a3a3;
}

.NavBarLink{
    color: #ffffff !important;
}

.NavBarLink:hover{
    color: #b4b4b4 !important;
}

@media (max-width: 50rem){
    .DropDownMenu{
        /* margin-top: 1rem !important; */
        width: auto !important;
    }
    .NavigationBar{
        height: auto !important;
    }
}