.Container{
    display: grid;
}

.Header{
    color: #ffffff;
    font-size: 1.3rem;
    grid-row: 1;
}

.BodyContainer{
    color: #ffffff;
    padding: 0;
}

.QuestionTypeContainer{
    padding: 0;
    grid-row: 2;
}

.FormControl{
    color: #ffffff !important;
    background-color: transparent;
    resize: none;
    border-color: #424242;
    grid-row: 1;
    grid-column: 2;
}

.FormControl:focus{
    background-color: transparent;
    outline: none !important;
    box-shadow: none !important;
    border-color: #ffffff;
}

.FormGroup{
    display: grid;
    justify-items: center;
    align-items: center;
}

.FormIcon{
    grid-row: 1;
    grid-column: 3;
    margin: 0.5rem;
}

.Radio{
    grid-row: 1;
    grid-column: 1;
    margin: 0.5rem;
}