.Container{
    padding: 0.2rem;
    width: 5rem;
    margin: 0.2rem;
    border-radius: 0.2rem;
    height: 6rem;
    gap: 1rem;
    display: grid;
    justify-content: center;
    align-content: center;
    float: left;
}

.Container:hover{
    cursor: pointer;
}

.Icon{
    font-size: 2rem;
    grid-row: 1;
    grid-column: 1;
    text-align: right;
}

.Label{
    font-size: 0.7rem;
    grid-row: 2;
    grid-column: 1;
    text-align: center;
}

.ContainerActive{
    background-color: #ffffff;
}

.ContainerInactive{
    background-color: #414040;
}

.IconActive, .LabelActive{
    color: #2f0033;
}

.IconInactive, .LabelInactive{
    color: #242424;
}