.NotFound{
    background-image: url('../../shared/Background.svg');
    min-height: 100vh;
    padding: 0;
    position: fixed;
}

.NotFoundText{
    font-size: 5rem;
    font-weight: bold;
    margin: 10rem;
    color: #ffffff;
    padding-top: 4rem;
}