.UserDisplayContainer{
    max-height: 15rem;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

.UserDisplayContainer::-webkit-scrollbar-track {
    border: 1px solid transparent;
    padding: 2px 0;
    background-color: transparent;
  }

.UserDisplayContainer::-webkit-scrollbar {
    width: 10px;
  }
  
.UserDisplayContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 1px solid #000;
  }

.UserTag{
    color: #ffffff;
    background-color: #38165765;
    margin-top: 0.5rem;
    border-radius: 0.4rem;
    height: 4.5rem;
    display: flex;
    animation: user-tag-appear 1s ease-in-out;
    padding: 0;
    padding-right: 0.5rem;
    align-items: center;
}

.Image{
    /* max-width: 2rem; */
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    margin: 0.5rem;
}

.UserName{
    text-align: left;
    margin: 0;
    margin-left: 0.5rem;
    font-size: 0.9rem;
}

@keyframes user-tag-appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
