.ImageSelectorContainer{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.FileUpload{
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.Thumbnail{
    width: auto;
    max-height: 8rem;
}

.Icon{
    font-size: 5rem;
}

input[type="file"] {
    display: none;
}

.CustomFileUpload {
    display: inline-block;
    padding: 0;
    cursor: pointer;
}