.GoBuddyButton{
    border-radius: 2rem;
    width: 100%;
    background: linear-gradient(#24009F, #7500A7);
    border-color: #ffffff;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.GoBuddyButton:hover{
    background: linear-gradient(#24009F, #7500A7);
    background-size: 200% 200%;
    border-color: #ffffff;
    animation: buttonAnimation 5s ease infinite;
}

.GoBuddyButton:disabled{
    background-color: #999999;
    border-color: #ffffff;
    cursor: not-allowed;
}

@keyframes buttonAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}