.LoaderModal{
    background-color: #00000083;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 5001;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Text{
    color: #ffffff;
}