.AddQuizQuestionPage{
    /* background-image: url('../../shared/Background.svg'); */
    background-color: #291c3b;
    min-height: 100vh;
    height: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.FormContainer{
    position: relative;
    top: 4rem;
    width: 30rem;
    height: auto;
    max-height: 100vh;
    overflow: scroll;
    background-color: #6e6e6e3b;
    border-radius: 1rem;
    padding: 5rem;
}

.Options{
    padding: 0;
    margin: 0;
    justify-content: center;
}

.Input{
    background-color: transparent;
    resize: none;
    color: #c9c9c9;
}

.Input:focus{
    background-color: transparent;
    color: #ffffff;
}


.EditQuestionContainer{
    color: #ffffff;
}

.Icon{
    float: left;
    color: #ffffff;
}

.Icon:hover{
    cursor: pointer;
}

.Form{

}

.FormControlContainer{
    display: flex;
    margin: 0;
    margin-bottom: 0.5rem;
    align-items: center;
    padding: 0;
}

.TrueFalseButton{
    color: #ffffff;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TrueFalseButton:hover{
    color: #ffffff;
    cursor: pointer;
}

.True{
    color: green;
}

.False{
    color: red;
}

.AddAnswerButton{
    margin-top: 2rem;
    width: 10rem;
    height: 2rem;
    border: 0.15rem dashed #ffffff;
    border-radius: 1rem;
}

.AddAnswerButton:hover{
    background-color: #753ea865;
    cursor: pointer;
}

.Icon{
    color: #969696;
    margin-left: 1rem;
}

.Icon:hover{
    color: #ffffff;
}

.HelpContainer{
    color: #969696;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.HelpContainer:hover{
    color: #ffffff;
    cursor: pointer;
}