.ChallengeToolbar{
    background-color: #0f0020;
    width: 3rem;
    height: auto;
    position: absolute;
    left: 0;
    top: 0%;
    z-index: 1000;
    border-top-left-radius: 0;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 1rem;
}

@media(max-width: 600px){
    .ChallengeToolbar{
        left: none;
        bottom: 0%;
        width: 100%;
        height: 3rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}