.AddChallengeView{
    background-color: #00000056;
    width: 100vw;
    height: 100%;
    position: fixed;
    z-index: 5100;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.Icon{
    color: #ffffff;
    font-size: 2rem;
    text-align: right;
    justify-self: flex-start;
    align-self: flex-start;
}
.Icon:hover{
    cursor: pointer;
}

.FormContainer{
    width: 30%;
    height: auto;
    border-radius: 0.3rem;
    background-color: #ffffff;
    padding: 2rem;
}

.Form{
    overflow-y: auto !important;
}

.CreateChallengeTitle{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.TextArea{
    resize: none;
}

.CreateButton, .CancelButton{
    width: 30%;
    font-size: 0.8rem;
    margin: 1rem;
    margin-top: 2rem;
}

.CancelButton{
    background-image: none;
    color: #2e0058;
    border-color: #2e0058;
}

.CancelButton:hover{
    background-image: none;
    background-color: #f8e8ff;
    color: #2e0058;
    border-color: #2e0058;
}

.PublicSwitch{
    display: grid;
}

.Switch{
    grid-row: 1;
    grid-column: 1;
}

.SwitchIcon{
    color: #f7b500;
    grid-row: 1;
    grid-column: 2;
}