.SideBarContainer{
    padding: 0 !important;
    bottom: 0;
}
.ChallengeSideBar{
    height: 100%;
    background-color: #170e1b;
    z-index: 2000;
    position: absolute;
    bottom: 0;
    top: 0;
    box-shadow: 8px 0 20px -10px #262527;
}

.SideBarButton{
    width: 1.5rem;
    height: 6rem;
    position: absolute;
    top: 4rem;
    color: #ffffff;
    background-color: #170e1b;
    z-index: 2100;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 0 20px -10px #262527;
}

.SideBarButton:hover{
    cursor: pointer;
}

.MenuOpen{
    width: 17rem;
    padding: 1rem;
    padding-top: 4rem;
    animation: openMenu 0.2s;
}

.MenuClose{
    width: 0;
    padding: 0;
    animation: closeMenu 0.2s;
}

.SideBarButtonOpen{
    left: 17rem;
    animation: openButton 0.2s;
}

.SideBarButtonClose{
    left: 0;
    animation: closeButton 0.2s;
}


.SideBarTitle{
    color: black;
}

.LocationRangeSelector{
    display: flex;
}

/* .Backdrop{
    background-color: #0000002f;
    position: absolute;
    z-index: 1800;
    top: 0;
    left: 0;
    padding: 0;
} */

/* .BackdropOpen{
    width: 100%;
    height: 100%;
}

.BackdropClose{
    width: 0;
    height: 0;
} */

@media (max-width: 50em){
    .ChallengeSideBar{
        bottom: 0;
        left: 0;
        overflow-y: scroll;
        border-bottom-left-radius: 0;
    }

    /* .MenuOpen{
        height: 80%;
        width: 100%;
    }

    .MenuClose{
        height: 0;
    } */

}

@keyframes openMenu{
    from {
        width: 0;
    }
    to {
        width: 17rem;
    }
}

@keyframes closeMenu{
    from {
        width: 17rem;
    }
    to {
        width: 0;
    }
}

@keyframes openButton{
    from {
        left: 0;
    }
    to {
        left: 17rem;
    }
}

@keyframes closeButton{
    from {
        left: 17rem;
    }
    to {
        left: 0;
    }
}