.SideBarContainer{
    padding: 0 !important;
    bottom: 0;
}

.LocationRangeSelector{
    display: flex;
}

.FormLabel{
    color: #ffffff;
}

.FormControl{
    color: #ffffff !important;
    background-color: transparent;
    resize: none;
    border-color: #424242;
}

.FormControl:focus{
    background-color: transparent;
    outline: none !important;
    box-shadow: none !important;
    border-color: #ffffff;
}