.AnswerButton, .AnswerButton:disabled{
    background-color: #bebebe;
    border: none;
    width: 6.5rem;
    height: 3rem;
    text-align: center;
    margin: 0.25rem;
    overflow: hidden;
    font-size: 0.8rem;
}

.AnswerButton:disabled{
    cursor: not-allowed;
}
.AnswerButton:disabled:hover{
    cursor: not-allowed;
    background-color: #bebebe;
}

.AnswerButton:hover{
    background-color: #6b6b6b;
    cursor: pointer;
}

.AnswerButton:focus{
    border: none;
    background-color: #6b6b6b;
    box-shadow: none;
}

.Correct, .Correct:disabled, .Correct:hover, .Correct:focus{
    background: linear-gradient(0deg, rgba(15,61,0,1) 0%, rgba(14,121,9,1) 47%, rgba(0,255,38,1) 100%);
    border: none;
    width: 6.5rem;
    height: 3rem;
    text-align: center;
    margin: 0.25rem;
    overflow: hidden;
    font-size: 0.8rem;

    animation: blink-animation 0.3s steps(5, start) 3;
    -webkit-animation: blink-animation 0.3s steps(5, start) 3;
}

.Incorrect, .Incorrect:disabled, .Incorrect:hover, .Incorrect:focus{
    background: linear-gradient(0deg, rgba(112,0,0,1) 0%, rgba(135,0,0,1) 47%, rgba(255,0,0,1) 100%);
    border: none;
    width: 6.5rem;
    height: 3rem;
    text-align: center;
    margin: 0.25rem;
    overflow: hidden;
    font-size: 0.8rem;
}

.Locked, .Locked:disabled, .Locked:disabled:hover{
    background-color: #6b6b6b;
}

.Locked:disabled{
    cursor: not-allowed;
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
}