.ModalContainer{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.Modal{
    background-color: #00000044;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 5000;
    margin: 0;
    padding: 0;
}

.ModalBody{
    width: auto;
    height: auto;
    background-color: #ffffff;
    position: absolute;
    border-radius: 0.5rem;
    margin: 0;
    padding: 0;
    max-width: 80vw;
    max-height: 70vh;
    overflow: scroll;
}

.ModalBack{
    width: 100%;
    height: 100%;
    position: absolute;
}

.Icon{
    text-align: left;
    padding: 0.8rem;
    position: fixed;
    width: 2rem;
}

.Icon:hover{
    cursor: pointer;
}