.SideBarHeader{
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
    height: 3rem;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    justify-items: left;
    align-items: center;
    
}

.ReturnButton:hover{
    cursor: pointer;
}

.ReturnButton{
    grid-column: 1;
    grid-row: 1;
    margin: 1rem;
    color: #ffffff;
}

.Title{
    color: #ffffff;
    margin-bottom: 0;
    grid-column: 2/19;
    grid-row: 1;
}

.Placeholder{
    grid-column: 1;
    grid-row: 1;
    margin: 1rem;
}