.MainDigitalGobuddyPage{
    /* background-image: url('../../shared/Background.svg'); */
    background-color: #291c3b;
    min-height: 100vh;
    height: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.FormContainer{
    position: relative;
    top: 4rem;
    width: 30rem;
    height: auto;
    max-height: 100vh;
    overflow-y: scroll;
    background-color: #9291913b;
    border-radius: 1rem;
    padding: 5rem;
}
.FormContainer::-webkit-scrollbar-track {
    border: 1px solid transparent;
    padding: 2px 0;
    background-color: transparent;
  }

.FormContainer::-webkit-scrollbar {
    width: 10px;
  }
  
  .FormContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #313131;

  }



.Form{
    margin-top: 1rem;
}

.FormGroup{
    display: flex;
    animation: form-appear 0.5s ease-in-out;
}

.Input{
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid #808080;
    border-radius: 0;
    margin: 0.1rem;
    color: #808080;
    padding: 0;
    text-align: center;
}

.Input:focus{
    background-color: transparent;
    color: #ffffff;
    box-shadow: none;
    border-color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

h1, p{
    color: #ffffff;
}

.Error{
    color: #b84248;
    border-bottom-color: #b84248;
}

.Error:focus{
    color: #e99b9f;
    border-bottom-color: #e99b9f;
}

.ErrorMessage{
    color: #e99b9f;
}

@keyframes form-appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}