.Container{
    color: #2e0058;
}

.HighScore{
    font-size: 0.9rem;
    color: #ffffff;
}

.HighScoreName{
    background-color: #ffffff;
    width: auto;
    height: 2rem;
    margin: 0.4rem;
    border-radius: 1rem;
    display: grid;
    align-content: center;
}

.CurrentUser{
    box-shadow: #ffb038 0 0 10px 5px;
}

.Name{
    grid-row: 1;
    justify-self: left;
    margin-left: 1rem;
}

.Score{
    grid-row: 1;
    justify-self: right;
    margin-right: 1rem;
    font-weight: bold;
}

.FaIcon{
    color: #ffffff;
    font-size: 1.2rem;
    margin: 0.5rem;
}

.FaIcon:hover{
    cursor: pointer;
}

.Text{
    margin-top: 4rem;
    color: #ffffff;
    font-size: 0.7rem;

}