.ChallengeSidebarButton{
    background-color: rgb(65, 0, 65);
    color: #ffffff;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.ChallengeSidebarButton:hover{
    cursor: pointer;
}
.ChallengeSidebarButton{
    background-color: rgb(65, 0, 65);
    color: #ffffff;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.AddColor{
    background-color: #832161;
}

.DefaultColor{
    background-color: transparent;
}

.DefaultColor:hover{
    background-color: #3B2442;
}

.Label{
    grid-column: 3/10;
    grid-row: 1;
}

.Icon{
    grid-column: 1;
    grid-row: 1;
}