.SelectedChallenge{
    background-color: #422e5f;
    padding: 0;
    border-radius: 0.3rem;
    width: 30rem;
    margin-bottom: 1rem;
    height: 10rem;
    display: flex;
    animation: expand 0.5s;
}

.Image{
    height: 100%;
    object-fit: cover;
    width: 10rem;
    justify-self: flex-start;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.TextContainer{
    color: #ffffff;
    margin: 1rem;
}

.Title{
    font-size: 1.5rem;
}

.Description{
    font-size: 0.8rem;
}

.SummaryContainer{
    font-size: 1rem;
}

.SummaryContainer p{
    font-size: 0.6rem;
}

.Edit{

}

.Edit:hover{
    cursor: pointer;
}

@keyframes expand{
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}