.FAQContainer{
    height: 10rem;
    color: #000000;
    margin-top: 3rem;
    overflow-y: scroll;
    height: 30rem;
}

.Header{
    margin-top: 1rem;
    width: 100%;
}

.HeaderClass{
    color: #000000;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.ReturnIcon{
    color: #000000;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.ReturnIcon:hover{
    cursor: pointer;
   
}

.QAContainer{
    color: #000000;
    width: 25rem;
}

.Paragraph{
    color: #000000;
    font-size: 0.8rem;
}

.ListGroup{
    font-size: 0.8rem;
}

.ListItem:hover{
    cursor: pointer;
}

.AnswerListItem{
    background-color: #e0e0e0;
    animation: appear 0.5s ease-in;
}

.QuestionListItem{
    animation: appear 0.5s ease-in;
}

.QuestionListItem:hover{
    cursor: pointer;
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}