.Container{
    align-items: center;
    margin: 0;
}

.ViewContainer{
    color: #ffffff;
    margin: 0;
}

.Image{
    min-height: 5rem;
    max-height: 8rem;
    width: auto;
    animation: image-fade 0.9s ease-in;
}

.Description{
    margin-top: 0.8rem;
    font-size: 0.9rem;
    animation: text-fade 0.9s ease-in;
}

.UsersIcon{
    color: #ffffff;
    font-size: 4rem;
}

.UsersText{
    font-size: 1.5rem;
}

@keyframes text-fade {
    0%{
        color: transparent;
    }
    100%{
        color: inherit;
    }
}

@keyframes image-fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}