.AddQuizQuestionPage{
    /* background-image: url('../../shared/Background.svg'); */
    background-color: #291c3b;
    min-height: 100vh;
    height: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.FormContainer{
    position: relative;
    top: 4rem;
    width: 30rem;
    height: auto;
    max-height: 100vh;
    overflow: scroll;
    background-color: #6e6e6e3b;
    border-radius: 1rem;
    padding: 5rem;
}

.QuestionTag{
    color: #ffffff;
    background-color: #38165765;
    margin-top: 0.5rem;
    border-radius: 0.4rem;
    height: 4.5rem;
    animation: user-tag-appear 1s ease-in-out;
    padding: 0;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.QuestionTag:hover{
    background-color: #753ea865;
    cursor: pointer;
}

.QuestionName{
    margin: 0;
    margin-left: 0.5rem;
    font-size: 0.9rem;
}

.Header{
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.AddQuestionTag{
    border: #888888 dashed 2px;
}

.AddQuestionTag:hover{
    border: #ffffff dashed 2px;
}

.Image{
        /* max-width: 2rem; */
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 50%;
        margin: 0.5rem;
}