.Input{
    background-color: rgb(255, 255, 255, 100%);
    margin-top: 0;
    margin-bottom: 1rem;
    color: #000598;
    border-radius: 2rem;
    border-style: none;
    box-shadow: #3000D13B 0px 7px 19px;
}

.Label{
    float: left;
    color: #000598;
    margin: 0.5rem;
}

.Invalid, .Invalid:focus{
    background-color: rgb(255, 188, 188);
    color: red;
}

.Valid, .Valid:focus{
    background-color: rgb(196, 255, 188);
    color: green;
}

.InputIcon{
    background-color: #ffffff;
    border: none;
    border-radius: 2rem;
}

.Icon{
    color: #8810D8;
    display: block;
    background: -webkit-linear-gradient(#4A07AF, #8810D8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}