.MarkerSummary{
    height: auto;
    /* max-height: 10rem; */
    background-color: #ffffff;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    display: grid;
    justify-items: center;
    align-items: center;
    overflow: scroll;
    column-gap: 0.5rem;
    animation: expand 0.5s;
}

.MarkerSummaryClosed{
    position: absolute;
    top: 4rem;
    right: 1rem;
    z-index: 2000;
    width: 15rem;
    background-color: #ffffffc0;
    box-shadow: 0 0 5px 5px #38363a;
}

.Title{
    font-size: 1rem;
    font-weight: bold;
    grid-column: 1;
    grid-row: 1;
}

.Summary{
    font-size: 0.8rem;
    grid-column: 1;
    grid-row: 3;
}

.Icon{
    grid-column: 2;
    grid-row: 1;
    padding: 0;
    color: #999999;
    align-self: flex-start;
    padding: 0;
    margin: 0;
    margin-left: 0.5rem;
}

.Icon:hover, .EditIcon:hover, .DeleteIcon:hover{
    cursor: pointer;
    color: #535353;
}

.EditIcon{
    color: #999999;
    grid-column: 1;
    grid-row: 4;
    justify-self: flex-end;
}

.DeleteIcon{
    color: #999999;
    grid-column: 2;
    grid-row: 4;
    float: left;
}

@keyframes expand{
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}