.MyQuizzesPage{
    /* background-image: url('../../shared/Background.svg'); */
    background-color: #291c3b;
    min-height: 100vh;
    height: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.FormContainer{
    position: relative;
    top: 4rem;
    width: 30rem;
    height: 80vh;
    max-height: 100vh;
    overflow-y: scroll;
    background-color: #bdbdbd3b;
    border-radius: 1rem;
    padding: 0;
}

/* .FormContainer::-webkit-scrollbar-track {
    border: 1px solid transparent;
    padding: 2px 0;
    background-color: transparent;
  }

.FormContainer::-webkit-scrollbar {
    width: 10px;
  }
  
  .FormContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 1px solid #000;
  } */

.Header{
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 2rem;
    position: relative;
    overflow: hidden;
    background: #302235cc;
}

.QuizTag{
    color: #ffffff;
    background-color: #bda8d165;
    margin-top: 0.5rem;
    border-radius: 0.2rem;
    height: 7rem;
    animation: user-tag-appear 1s ease-in-out;
    padding: 0;
    padding-right: 0.5rem;
    display: grid;
    align-items: center;
    justify-content: left;
    width: auto;
    margin: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
    border-left: rgb(187, 151, 192) 0.5rem solid;

}

.QuizTag:hover{
    background-color: #9980b165;
    cursor: pointer;
}

.QuizName{
    margin: 0;
    margin-left: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: left;
}

.QuizDescription{

}

.QuizCode{
    color: #969696;
    font-size: 0.5rem;
}

.IconContainer{
    grid-row: 2;
    padding: 1rem;
}

.Icon{
    color: #0000008c;
    margin-left: 1rem;
    margin-right: 1rem;
    
    background: #ffffff;
}

.Icon:hover{
    cursor: pointer;
    color: #0000008c;
}

.Modal{
    margin-top: 3rem;
}

.ModalButtonContainer{

}

.ModalText{
    color: #000000;
    margin-left: 2rem;
    margin-right: 2rem;
}

.ModalButton{
    width: 5rem;
    margin: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}