.GameChallengePage{
    background-image: url('../../shared/Background.svg');
    min-height: 100vh;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.GameChallengePageContainer{
    position: relative;
    top: 10rem;
    width: 20rem;
    height: auto;
    background-color: #faf8ff;
    border-radius: 1rem;
    padding: 1rem;
}

.Input{
    text-align: center;
}

.ErrorMsg{
    color: rgb(155, 0, 64);
}