.CreateChallengePage{
    background-image: url('../../shared/Background.svg');
    min-height: 100vh;
    padding: 0;
}

.CreateChallengePageHeader{
    font-size: 3rem;
    color: #ffffff;
    padding-top: 4rem;
}