.Login{
    position: relative;
    color: #000598;
    padding: 3rem;
    border-radius: 0;
    margin: 6rem;
    margin-top: 2rem;
    max-width: 600px;
    background-color: rgb(255, 255, 255, 95%);
    box-shadow: 10px 10px 60px #0b0025;
}

.GoBuddyButton{
    border-radius: 2rem;
    min-width: 100%;
    background-image: linear-gradient(#24009F, #7500A7);
    border-color: #ffffff;
}

.GoBuddyButton:hover{
    background-color: #97019c;
    border-color: #ffffff;
}

.Link{
    color: #000598;
    margin-top: 2rem;
}

.Link:hover{
    color: #97019c;
    text-decoration: none;
}

.InputStyle{
    background-color: rgb(255, 255, 255, 100%);
    color: #000598;
    border-radius: 2rem;
    border-style: none;
    box-shadow: #3000D13B 0px 7px 19px;
}

.InputStyle:focus{
    border-style: none;
}

.MainText{
    color: #0f003f;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 3rem;
}

@media (max-width: 600px){
    .MainText{
        font-size: 2rem;
    }
    .Login{
        padding: 1rem;
        margin: 2rem;
        margin-top: 4rem;
    }
}

.Logo{
    padding: 1rem;
    max-width: 20%;
}

.InputIcon{
    background-color: #ffffff;
    border: none;
    border-radius: 2rem;
}

.Icon{
    color: #8810D8;
    display: block;
    background: -webkit-linear-gradient(#4A07AF, #8810D8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}