.Container{
    background-color: #793594;
    margin: auto;
    width: 3rem;
    height: 3rem;
    padding: auto;
    border-radius: 50%;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

}

.Time{
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    margin: auto;
}