.DigitalGobuddyButton{
    background-color: rgb(121, 69, 121);
    color: #ffffff;
    padding: 0;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    display: flex;
    height: 2.5rem;
    width: 15rem;
    margin-bottom: 1rem;
    align-items: center;
    animation: button-appear 0.5s ease-out;
}

.DigitalGobuddyButton:hover{
    cursor: pointer;
    background-color: rgba(113, 35, 140, 70%);
}

.Text{
    align-items: flex-start;
}

.IconContainer{
    color: #472847;
    background-color: #ffffff;
    margin: 0;
    width: 3rem;
    height: 2.5rem;
    border-radius: 0.2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.IconContainer:hover{
    background-color: rgba(355, 355, 355, 80%);
}

.Icon{
    margin: 0;
}

@keyframes button-appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}