.LocationInformationContainer{
    width: auto;
    height: auto;
    padding: 1rem;
}

img{
    height: 60%;
    width: 60%;
}

.Button{
    width: 30%;
}

.IsNotNearGame{
    margin: 2rem;
    font-size: 2.5rem;
}