.AddQuizViewContainer{
    background-color: none;
    height: auto;
    width: auto;
    padding: 0.5rem;
    animation: appear 1s ease-in;
    text-align: left;
}

.InputLabel{
    color: #ffffff;
    margin-top: 1rem;
}

.Input{
    color: #481b4d;
}

.Input:focus{
    /* Change color of box shadow*/
}

.TextArea{
    resize: none;
}

.ComingSoon{
    color: #8a4091;
}

@keyframes appear{
    0%{
        opacity: 0%
    }
    100%{
        opacity: 100%
    }
}