.ErrorMessageContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #990435;
    background-color: #9904361f;
    border: #ffffff 0.1rem solid;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.Icon{
    margin-right: 0.7rem;
}

.Text{
    color: #990435;
    margin: 0.5rem;
    text-align: left;
}
