.AddChallengeButtonContainer{
    background-color: #a0a0a0;
    width: 100%;
    height: 10rem;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.AddChallengeButtonContainer:hover{
    background-color: #969494;
    cursor: pointer;
}

.Icon{
    font-size: 3rem;
    color: #ffffff;
}

.Icon:hover{
    cursor: pointer;
    color: #e7e7e7;
}