.SignupForm{
    color: #000598;
    padding: 2rem;
    border-radius: 0;
    margin: 1rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
    min-width: 20%;
    max-width: 600px;
    background-color: rgb(255, 255, 255, 95%);
    box-shadow: 10px 10px 60px #0b0025;
}

.GobuddyButton{
    margin: 2rem;
    width: 40%;
}

.Link{
    color: #000598;
    margin-top: 2rem;
}

.Link:hover{
    color: #97019c;
    text-decoration: none;
}

.FormCheck{
    color: #000598;
    float: left;
}

.MainText{
    color: #0f003f;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 3rem;
}

@media (max-width: 600px){
    .MainText{
        font-size: 2rem;
    }
    .Login{
        padding: 1rem;
        margin: 2rem;
        margin-top: 4rem;
    }
}