.ChallengeToolbarButton{
    cursor: pointer;
    margin: 0.5rem;
    color: #ffffff;
    margin-left: 0;
    margin-right: 1rem;
}

.ChallengeToolbarButton:hover{
    color: #ee82ee;
}

.ButtonActive{
    color: #ee82ee;
}