.Container{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.Container:hover{
    cursor: pointer;
}

.AddLocationButton{
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1;
}

.AddLocationButtonInactive{
    /* background: radial-gradient(circle, #2a003b 0%, #b1b1b1 100%); */
    background-color: #3f3e3e;
}

.AddLocationButtonActive{
    /* background: radial-gradient(circle, #3b3b3b 0%, #8200b6 100%); */
    background-color: #8200b6;
}

.Title{
    grid-column: 1;
    grid-row: 2;
}

.TitleActive{
    color: #ffffff;
}

.TitleInactive{
    color: #3f3e3e;
}

.Range25{
    width: 1.5rem;
    height: 1.5rem;
}
.Range50{
    width: 2rem;
    height: 2rem;
}
.Range100{
    width: 2.5rem;
    height: 2.5rem;
}