.InitPage{
    background-color: #000000;
    height: 100%;
    width: auto;
    padding: 0;
    position: fixed;
    justify-content: center;
    align-content: center;
    overflow: scroll;
}

.TitleContainer{
    color: #ffffff;
    position: absolute;
    top: 10rem;
    z-index: 1000;
}

.MainHeader{
    font-size: 5rem;
}

.MainText{
    font-size: 1.3rem;
}

.Image{
    width: 100vw;
    height: 90%;
    object-fit: cover;
    filter: blur(4px);
}

.Overlay{
    width: 100vw;
    height: 92%;
    position: absolute;
    z-index: 900;
    background-color: #00000044;
}

.Button{
    width: 8rem;
}

.DescriptionContainer{
    width: 95%;
    height: auto;
    background-color: #ffffff;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    position: absolute;
    z-index: 1000;
    top: 80%;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: #41404091 0 10px 15px 5px;
    padding-right: 0;
    padding-left: 0;
    font-family: 'Encode Sans Condensed', sans-serif;;
}

.DescriptionHeader{
    margin-top: 2rem;
    color: #414040;
    font-size: 2rem;
    font-weight: bold;
}

.DescriptionBody{
    color: #646464;
    font-size: 1rem;
}

.Features{
    display: grid;
    gap: 1rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.FeatureBox{
    grid-row: 2;
}

.FeatureHeader{
    grid-row: 1;
    grid-column: 1/4;
    align-self: center;
}

.FeatureTitle{
    color: #20003d;
    font-size: 1rem;
}

.FeatureDescription{
    color: #868686;
    font-size: 1rem;
}

.Icon{
    font-size: 3rem;
    color: #4a00aa;
    margin: 1rem;
}

.Icon:hover{
    color: #6704e7;
    cursor: pointer;
    animation: expandIcon 0.5s ease forwards;
    -webkit-animation: expandIcon 0.5s ease forwards;
}

.NavbarTop{
    background-color: transparent !important;
    color: #000000 !important;
}

.NavbarScroll{
    background-color: #00000070;
    animation: navbarScroll 1s;
}

.Footer{
    background-color: #4d4c4c;
    color: #000000;
    margin: 0;
    height: 10rem;
    padding-top: 3rem;
}

.Text{
    color: #ffffff;
}

.FaIcon{
    color: #ffffff;
    margin: 1rem;
    font-size: 2rem;
}

.Separator{
    width: 100%;
    height: 5rem;
    background-image: linear-gradient(#24009F, #7500A7);
}

.TeamArticle{
    height: auto;
    padding: 2rem;
    width: 100%;
    display: grid;
}

a{
    color: #ffffff;
}

a:hover{
    color: #ffffff;
    text-decoration: none !important;
}

@keyframes expandIcon{
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-40%) scale(1.4);
    }
}

@keyframes navbarScroll{
    from {
        background-color: transparent;
    }
    to {
        background-color: #00000070;
    }
}