.Challenge{
    background-color: #422e5f;
    padding: 0;
    border-radius: 0.3rem;
    max-width: 10rem;
    margin-bottom: 1rem;
    height: 10rem;
}

.Challenge:hover{
    background-color: #4d3670;
    cursor: pointer;
}

.Title{
    font-weight: bold;
    font-size: 0.8rem;
    color: #ffffff;
    padding: 0.5rem;
    text-align: center;
}

.Description{
    color: #c2b4d6;
    margin: 2rem;
}

.Icon{
    color: #9c8cb3;
    margin: 0.5rem;
}

.Icon:hover, .SummaryItem:hover{
    color: #ffffff;
    cursor: pointer;
}

.ChallengeFooter{
    display: grid;
}

.Summary{
    margin-bottom: 1rem;
    color: #c2b4d6;
    grid-row: 1;
}

.SummaryItem{
    float: left;
    margin-left: 1rem;
}

.SummaryIcon{
    margin: 0.3rem;
}

.ChallengeActions{
    grid-row: 2;
}

.Image{
    height: 5rem;
    object-fit: cover;
    width: 100%;
    border-radius: 0.3rem;
}