.Container{
    background-color: #ffffff;
    max-width: 10rem;
    max-height: 5rem;
    border-radius: 0 0 1rem 1rem;
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem;
}

.Logo{
    max-width: 2rem;
    position: absolute;
    left: -1rem;
    top: 0.8rem;
}

.Title{
    color: #000000;
    margin: 0;
    font-size: 1.1rem;
}

.RoomCode{
    font-weight: bold;
    color: #000000;
    margin: 0;
    font-size: 1rem;
}