.MapMarker{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    /* transform: translate(1rem, 1rem) */
}

.MapMarker:hover{
    cursor: pointer;
}

.UserLocationMarker{
    border-style: solid;
    background-color: #420080;
    box-shadow:
        0 0 2rem 0.01rem #ffffff,
        0 0 3rem 0.1rem #420080; 
    border-style: solid;
    border-color: #ffffff;
    border-width: 0.2rem;
}

.GameMarker{
    width: 1.5rem;
    height: 1.5rem;
    background: radial-gradient(circle, #3a3a3a 0%, #b9b9b9 100%);
}

.PreviewMarker{
    width: 1.5rem;
    height: 1.5rem;
    background: radial-gradient(circle, #2a003b 0%, #8200b6 100%);
}

.PreviewMarker:hover{
    cursor: default;
}

.ActiveMarker{
    background: radial-gradient(circle, #2a003b 0%, #8200b6 100%);
}

.CompleteMarker{
    background: radial-gradient(circle, #003b05 0%, #00c711 100%);
}

.SelectedLocation{
    animation: pulse 1.5s infinite;
    background: radial-gradient(circle, #8200b6 0%, #bd5ce4 100%);
}

.LocationName{
    color: #fcd6ff;
    justify-self: center;
    -webkit-text-stroke: 0.02rem #85008a;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 255, 0.7);
	}

	70% {
		transform: scale(1.2);
		box-shadow: 0 0 0 10px rgba(255, 0, 255, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 255, 0);
	}
}