.MainPage{
    background-image: url('../../shared/Background.svg');
    min-height: 100vh;
    padding: 0;
}

.MainPageHeader{
    font-size: 3rem;
    color: #ffffff;
    padding-top: 4rem;
}

.Challenges{
    padding: 1rem;
}

.Challenge{
    color: #ffffff;
}