.SettingsPage{
    background-image: url('../../shared/Background.svg');
    min-height: 100vh;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.SettingsPageHeader{
    font-size: 3rem;
    color: #ffffff;
    padding-top: 4rem;
}

.SettingsContainer{
    position: relative;
    top: 4rem;
    width: 60rem;
    height: 38rem;
    background-color: #faf8ff;
    border-radius: 1rem;
    padding: 0;
}

.SettingsHeader{
    width: 100%;
    height: 5rem;
    background-color: #ffffff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: #cccccc solid 0.02rem;
    box-shadow: #cccccc 0 2px 7px 0;
}

.SettingsBody{
    height: 33rem;
    width: 10rem;
    background-color: transparent;
    float: left;
    border-bottom-left-radius: 1rem;
    padding: 0;
    border-right: #d6d6d6 solid 1px;
}

.SettingsSidebar{
    height: 33rem;
    width: 50rem;
    background-color: transparent;
    float: left;
    border-bottom-right-radius: 1rem;
}