.QuizPage{
    /* background-image: url('../../shared/Background.svg'); */
    background-color: #300e3dea;

    min-height: 100vh;
    padding: 0;
    overflow: scroll;
}

.QuizPageAnimated{
    background: linear-gradient(-45deg, #3b015c, #3b0285, #a223d5, #c22bc7);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    min-height: 100vh;
    padding: 0;
}

.Navigationbar{
    position: fixed;
    z-index: 3000;
}

.QuizContainer{
    position: relative;
    top: 8rem;
    width: 25rem;
    height: auto;
    max-height: 100vh;
    overflow: scroll;
    background-color: #ffffff41;
    border-radius: 1rem;
    padding: 1rem;
}

/* .QuizContainer::-webkit-scrollbar-track {
    border: 1px solid transparent;
    padding: 2px 0;
    background-color: transparent;
  }

.QuizContainer::-webkit-scrollbar {
    width: 10px;
  }
  
.QuizContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 1px solid #000;
  } */


.Button{
    width: 9rem;
}

.Container{
    padding: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}