.ChallengePage{
    /* background-image: url('../../shared/Background.svg'); */
    background-color: #291c3b;
    min-height: 100vh;
    padding: 0;
}

.Container{
    display: flex;
    margin: 0;
}

.Challenges{
    margin-top: 4rem;
    margin-right: 0;
    padding: 1rem;
    /* grid-column: 1;
    grid-row: 1; */
}

.ChallengePageHeader{
    padding-top: 4rem;
    font-size: 3rem;
    color: #ffffff;
}

.Challenge{
    color: #ffffff;
}

.SearchBar{
    width: 140%;
    height: 20rem;
    background-color: transparent;
    margin-top: 6rem;
    margin-left: 2rem;
    border-radius: 0.3rem;
    color: #ffffff;
    padding: 0 !important;
    display: flex;
    justify-items: end;
}

.Column{
    margin: 0;
}