.SettingsSelectorContainer{
    padding: 0.5rem;
    text-align: left;
    color: black;
}

.SettingsSelectorContainer:hover{
    cursor: pointer;
    background-color: #b4b4b4;
    color: #ffffff;
}

.Link{
    color: black !important;
}

.Link:hover{
    color: #ffffff !important;
}